<!--<h3>Details for {{herb.englishName}}</h3>-->
<!--<img class="media-object img-rounded" data-ng-src="{{herb.image}}">-->
<!--<table ng-table class="table">-->
    <!--<tr ng-repeat="(key, value) in herb">-->
        <!--<td data-title="'Property'">{{key}} : {{value}}</td>-->
        <!--&lt;!&ndash;<td data-title="'Value'">{{value}}</td>&ndash;&gt;-->
    <!--</tr>-->
<!--</table>-->

<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="pull-left">
                <img class="media-object img-rounded" data-ng-src="{{herb.image}}">
            </div>
            <div class="media-body">
                <h2 class="media-heading">
                    {{herb.englishName}}
                </h2>
                <table ng-table="tableParams" class="table">
                    <tr ng-repeat="(key, value) in herb">
                        <td data-title="'Property'">{{key}} : {{value}}</td>
                        <!--<td data-title="'Value'">{{value}}</td>-->
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <a class="btn btn-primary" ui-sref="editHerb({id:herb.id})">Edit</a>
        </div>
    </div>
</div>